.navbar-pad {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#mainCanvas {
	border: solid
}

.slider-selection {
	background: #BABABA;
}

.slider.slider-horizontal {
	width: 150px;
}
